body{
    background-color: hsl(217, 54%, 11%);
    background-attachment: fixed;
}
.container{                                        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    background-color: hsl(216, 50%, 16%);
    width: 250px; 
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px 5px hsl(217, 54%, 11%); 
}
.pic{
    border-radius: 10px;
    width: 220px;
    height: 220px;
    margin-top: 15px;
    margin-left: 15px;
}
h3{
    color: hsl(0, 0%, 100%);
    margin-left: 0;
    text-align: left;
    margin-left: 20px;
}
.text{
    color: hsl(215, 51%, 70%);
    font-size: small;
    margin-left: 20px;
}
.icon{
    margin-left: 20px;
    color: aqua;
    font-size: small;
    position: relative;
}
.time{
    color: hsl(215, 51%, 70%);
    position: absolute;
    right: 20px;
    top: 6.5px;
}
.lary{
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    top: 7px;
    right: 5px;
}
.avatar{
    border-top: 1px solid gray;
    padding-top: 5px;
    color: white;
    font-size: small;
    margin-left: 28px;
    margin-right: 20px;
}
.wrap{
    position: relative;
    top: 4px;
    left: 1px;
}
.clock{
    height: 30px;
    position: absolute;
    right: 75px;
    top: 5px;
}
.dude{
    color: hsl(215, 51%, 70%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (min-width: 1440px) {
.container{
    padding-top: 13%;
        }
      }